<h3>Tweet something now! (just <strong><em>do</em></strong> it)</h3>

<form>

  <div class="form-group">
    <label for="new-tweet">Message:</label>
    {{textarea valueBinding ="new-tweet" id="new-tweet" class="form-control"
    rows="2" maxlength="141"}}
  </div>

  <div class="form-group">
    <label for="hashtags">Hashtags:</label>
    {{input id='hashtags' class='form-control' value=hashtags}}
  </div>
  {{#link-to 'tweets'}}
    <button class='btn btn-primary' {{action 'save'}}>Tweet it, already!</button>
  {{/link-to}}
</form>
