<div class="container">
    <nav class="navbar navbar-inverse" role="navigation">
      <ul class="nav navbar-nav">
      <li>{{#link-to 'tweets'}}Tweets{{/link-to}}</li>
      <li>{{#link-to 'addTweet'}}Tweet A Thing{{/link-to}}</li>
      <li>{{#link-to 'hashtags'}}Hash Lookup{{/link-to}}</li>
      </ul>

    </nav>


  {{outlet}}
</div>
