<div class="container">
    <nav class="navbar navbar-inverse" role="navigation">
      <ul class="nav navbar-nav">
      <li>{{#link-to 'tweets'}}Tweets{{/link-to}}</li>
      <li>{{#link-to 'addTweet'}}Tweet A Thing{{/link-to}}</li>
      <li>{{#link-to 'hashtags'}}Hash Lookup{{/link-to}}</li>
      </ul>

    </nav>

    <img src="https://s-media-cache-ak0.pinimg.com/736x/c6/e3/41/c6e3411fb3b188ba3567dfe00f189123.jpg">
    

  {{outlet}}
</div>
